body{
    height: 100vh;
}


div#info
{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:90%;
    top:30%;
    width:100px;
    height: 100px;
    text-align: center;
	
    box-sizing: border-box;
}
