h1 {
    text-align: center;
}

p {
    margin:0;
}

.content {
    font-size: 2em;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    min-width: 500px;
}

.content img {
    width: 50%;
    padding-left: 10px;
}

.salir {
    color: coral;
}
