.fotoEnlaces {
    margin: auto;
    width: 50%;
    min-width: 500px;
    box-sizing: border-box;
}

.fotoEnlaces>img {
    opacity: 0.2;
    width: 100%;
}

.fotoEnlaces>a {
    font-size: 22px;
    font-weight: bold;
}
