#ej1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ej2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#ej3{
    display: flex;
    align-items: center;
}
#ej4{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
#ej5{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}