body {
    background-color: black;
    color: white;
}

div {
    width: 50%;
    margin: auto;
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap;  */
    align-items: stretch;
    border: 1px white solid;
}

div>img {
    width: 10%;
    box-sizing: border-box;

}

div>p {
    display: inline-block;
    box-sizing: border-box;
    
}